@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #208b8e 0%, #166366 100%);
  min-height: 100vh;
}

.font-display {
  font-family: var(--font-fredoka), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #166366;
}
::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF8C00;
}
